#form_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 150px 15px;
	background-color: #303B82;
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	max-height: 100%;
	pointer-events: none;
	opacity: 0.5;
}

.dash {
	z-index: 1;
	display: block;
	width: 100vw;
	max-width: 600px;
	padding: 40px 50px;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form {
	padding: 0 20px;
}

@media only screen and (max-width: 500px) {
	.dash {
		max-width: 90vw;
	}

	form {
		padding: 0 5px;
	}
}

.dash * {
	font-family: Montserrat, sans-serif;
	margin: 0;
}

form input[type=text] {
	font-size: 0.9em !important;
	margin: 0 0 20px 0 !important;
	padding: 0 !important;
}

form input[type=email] {
	font-size: 0.9em !important;
	margin: 0 0 20px 0 !important;
	padding: 0 !important;
}

form input[type=text]:focus + label {
	color: #000000 !important;
}

form input[type=email]:focus + label {
	color: #000000 !important;
}

form input[type=text]:focus {
	border-bottom: 1px solid #000000 !important;
	box-shadow: 0 0.15px 0 0 #000000 !important;
}

form input[type=email]:focus {
	border-bottom: 1px solid #000000 !important;
	box-shadow: 0 0.15px 0 0 #000000 !important;
}

::placeholder {
	opacity: 1 !important;
	color: #999999 !important;
}

form button[type='submit'] {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.2s;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	background-color: #303B82;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

form button[type='submit']:hover {
	background-color: #22114F;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.tabs .tab a {
	font-family: Montserrat, sans-serif !important;
	font-size: 1rem !important;
	font-weight: normal !important;
	transition: font-weight 0.2s !important;
	text-transform: none !important;
	color: #000000 !important;
}

.tabs .tab a:hover {
	font-weight: bold !important;
	color: #000000 !important;
}

.tabs .tab a.active {
	color: #000000 !important;
}

.tabs .indicator {
	height: 1px !important;
	background-color: #000000 !important;
}

.tabs {
	margin-bottom: 40px !important;
}

.dash .head-one {
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	color: #000000;
}

.dash .head-two {
	font-size: 1rem;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #000000;
}

input:-webkit-autofill, select:-webkit-autofill {
	-webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
	-webkit-transition-delay: 9999s;
	-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
	-webkit-text-fill-color: #000000 !important;
}
