.member.alumni {
	justify-content: stretch;
	width: 340px;
}

.member {
	align-items: center;
	background-color: transparent;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	margin: 20px 10px;
	padding: 30px 0 20px 0;
	position: relative;
	width: 250px;
}

.member * {
	transition: all 0.2s;
}

.member .dp {
	border-radius: 100%;
	display: block;
	height: 125px;
	width: 125px;
}

.member .dp img {
	border-radius: 100%;
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.member .name {
	background-color: #8CC63F;
	color: white;
	display: block;
	font-family: 'open sans';
	font-size: 1.2em;
	font-weight: normal;
	margin: 30px 0 10px 0;
	padding: 10px 0;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}

.member .desig {
	display: block;
	font-family: 'open sans';
	font-size: 0.9em;
	font-weight: normal;
	margin: 8px 0 5px 0;
	padding: 0 10px;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}

.member .info {
	display: block;
	font-family: 'open sans';
	font-size: 0.9rem;
	line-height: 1.4;
	padding: 10px 40px;
	text-align: center;
	width: 100%;
}

.member .container {
	border-radius: 10px;
	display: block;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.member .container:hover > .links {
	transform: translate(0, 0);
}

.member .container:hover > .info {
	opacity: 1;
	visibility: visible;
}

.member .container .links {
	align-items: center;
	background-color: #F9F6FD;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: calc(25% - 10px);
	justify-content: center;
	overflow: hidden;
	padding: 0px 8%;
	position: absolute;
	transform: translate(0, calc(100% - 10px));
	width: 100%;
}

.member .container .links .link {
	display: block;
	height: 30px;
	margin: 5px 10px;
	width: 30px;
}

.member .container .links .link img {
	height: 100%;
	width: 100%;
}

.member .container .links .oops {
	font-size: 0.8em;
	font-style: italic;
}

div#view_container {
	padding-top: 0;
}

#particles-js {
	left: 0;
	position: fixed;
	top: 0;
}

.landing.first {
	background-color: #303B82;
	height: calc(80vh + 72px);
	min-height: 0;
}

.landing.first * {
	font-family: 'Montserrat', sans-serif;
}

.landing.first .title {
	color: #FFF;
	font-size: 4em;
	left: 50%;
	margin: 0;
	position: relative;
	text-align: center;
	text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
	top: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1025px) {
	.landing.first .title {
		font-size: 3em;
	}
}

.members {
	background-color: #303B82;
	display: block;
	height: auto;
	width: 100%;
}

.members * {
	font-family: Montserrat, sans-serif;
}

.members .ppl {
	align-items: flex-start;
	background-color: #FFF;
	border-radius: 100px 100px 0 0;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	overflow: hidden;
	padding: 60px 8% 100px 8%;
	position: relative;
	width: 100%;
}

.members .ppl .importance {
	color: #0A2139;
	font-size: 2.7em;
	margin: 0 auto;
	padding: 40px 0 20px 0;
}

@media only screen and (max-width: 1025px) {
	.members .ppl {
		border-radius: 30px 30px 0 0;
	}
}

.row {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
